<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.shippingLocation.home.title">Shipping Locations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping-location" [routerLink]="['/shipping-location/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appApp.shippingLocation.home.createLabel">
            Create a new Shipping Location
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shippingLocations?.length === 0">
        <span jhiTranslate="appApp.shippingLocation.home.notFound">No shippingLocations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shippingLocations && shippingLocations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.locationCode">Location Code</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.shippingLocation.createdBy">Created By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shippingLocation of shippingLocations ;trackBy: trackId">
                    <td><a [routerLink]="['/shipping-location', shippingLocation.id, 'view']">{{ shippingLocation.id }}</a></td>
                    <td>{{ shippingLocation.name }}</td>
                    <td>{{ shippingLocation.locationCode }}</td>
                    <td>{{ shippingLocation.description }}</td>
                    <td>{{ shippingLocation.address }}</td>
                    <td>{{ shippingLocation.country }}</td>
                    <td>{{ shippingLocation.postalCode }}</td>
                    <td>{{ shippingLocation.createdAt | date:'medium' }}</td>
                    <td>{{ shippingLocation.createdBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shipping-location', shippingLocation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shipping-location', shippingLocation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shippingLocation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
