<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.invoice.home.title">Invoices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appApp.invoice.home.createLabel">
            Create a new Invoice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
        <span jhiTranslate="appApp.invoice.home.notFound">No invoices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.serialNo">Serial No</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.invoiceNo">Invoice No</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.referenceNo">Reference No</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.caseNo">Case No</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.priority">Priority</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.dateOfCreation">Date Of Creation</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.sellerName">Seller Name</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.amountFunctional">Amount Functional</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.amountReporting">Amount Reporting</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.price">Price</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.issuer">Issuer</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.tax">Tax</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.inclusiveOfTax">Inclusive Of Tax</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.gstn">Gstn</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.category">Category</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.contactNo">Contact No</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.prefferredModeOfCommunication">Prefferred Mode Of Communication</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.pointOfContact">Point Of Contact</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.bankAccDetails">Bank Acc Details</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.upiDetails">Upi Details</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.preferredModeOfPayment">Preferred Mode Of Payment</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.fileInfo">File Info</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.modelInfo">Model Info</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.notificationInfo">Notification Info</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.paymentInfo">Payment Info</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.invoiceHeader">Invoice Header</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.vendor">Vendor</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.invoice">Invoice</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.invoice.purchaseOrder">Purchase Order</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                    <td><a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a></td>
                    <td>{{ invoice.name }}</td>
                    <td>{{ invoice.serialNo }}</td>
                    <td>{{ invoice.invoiceNo }}</td>
                    <td>{{ invoice.referenceNo }}</td>
                    <td>{{ invoice.caseNo }}</td>
                    <td>{{ invoice.description }}</td>
                    <td jhiTranslate="{{ 'appApp.Priority.' + invoice.priority }}">{{ invoice.priority }}</td>
                    <td jhiTranslate="{{ 'appApp.InvoiceType.' + invoice.type }}">{{ invoice.type }}</td>
                    <td>{{ invoice.dateOfCreation | date:'medium' }}</td>
                    <td>{{ invoice.sellerName }}</td>
                    <td>{{ invoice.amountFunctional }}</td>
                    <td>{{ invoice.amountReporting }}</td>
                    <td>{{ invoice.price }}</td>
                    <td>{{ invoice.issuer }}</td>
                    <td>{{ invoice.tax }}</td>
                    <td>{{ invoice.inclusiveOfTax }}</td>
                    <td jhiTranslate="{{ 'appApp.InvoiceStatus.' + invoice.status }}">{{ invoice.status }}</td>
                    <td>{{ invoice.gstn }}</td>
                    <td>{{ invoice.address }}</td>
                    <td>{{ invoice.category }}</td>
                    <td>{{ invoice.contactNo }}</td>
                    <td>{{ invoice.email }}</td>
                    <td>{{ invoice.prefferredModeOfCommunication }}</td>
                    <td>{{ invoice.pointOfContact }}</td>
                    <td>{{ invoice.bankAccDetails }}</td>
                    <td>{{ invoice.upiDetails }}</td>
                    <td>{{ invoice.preferredModeOfPayment }}</td>
                    <td>{{ invoice.createdAt | date:'medium' }}</td>
                    <td>{{ invoice.createdBy }}</td>
                    <td>
                        <div *ngIf="invoice.fileInfo">
                            <a [routerLink]="['/file-info', invoice.fileInfo?.id, 'view']" >{{ invoice.fileInfo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.modelInfo">
                            <a [routerLink]="['/model-info', invoice.modelInfo?.id, 'view']" >{{ invoice.modelInfo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.notificationInfo">
                            <a [routerLink]="['/notification-info', invoice.notificationInfo?.id, 'view']" >{{ invoice.notificationInfo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.paymentInfo">
                            <a [routerLink]="['/payment-info', invoice.paymentInfo?.id, 'view']" >{{ invoice.paymentInfo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.invoiceHeader">
                            <a [routerLink]="['/invoice-header', invoice.invoiceHeader?.id, 'view']" >{{ invoice.invoiceHeader?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.vendor">
                            <a [routerLink]="['/vendor', invoice.vendor?.id, 'view']" >{{ invoice.vendor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.invoice">
                            <a [routerLink]="['/invoice', invoice.invoice?.id, 'view']" >{{ invoice.invoice?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoice.purchaseOrder">
                            <a [routerLink]="['/purchase-order', invoice.purchaseOrder?.id, 'view']" >{{ invoice.purchaseOrder?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/invoice', invoice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/invoice', invoice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(invoice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
