<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.fileSourceDetails.home.title">File Source Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-source-details" [routerLink]="['/file-source-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appApp.fileSourceDetails.home.createLabel">
            Create a new File Source Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileSourceDetails?.length === 0">
        <span jhiTranslate="appApp.fileSourceDetails.home.notFound">No fileSourceDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileSourceDetails && fileSourceDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.apiKey">Api Key</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.userName">User Name</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.password">Password</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.protocol">Protocol</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.url">Url</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.fileSourceDetails.fileInfo">File Info</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileSourceDetails of fileSourceDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/file-source-details', fileSourceDetails.id, 'view']">{{ fileSourceDetails.id }}</a></td>
                    <td>{{ fileSourceDetails.name }}</td>
                    <td>{{ fileSourceDetails.apiKey }}</td>
                    <td>{{ fileSourceDetails.userName }}</td>
                    <td>{{ fileSourceDetails.password }}</td>
                    <td>{{ fileSourceDetails.protocol }}</td>
                    <td>{{ fileSourceDetails.url }}</td>
                    <td>{{ fileSourceDetails.createdAt | date:'medium' }}</td>
                    <td>{{ fileSourceDetails.createdBy }}</td>
                    <td>
                        <div *ngIf="fileSourceDetails.fileInfo">
                            <a [routerLink]="['/file-info', fileSourceDetails.fileInfo?.id, 'view']" >{{ fileSourceDetails.fileInfo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-source-details', fileSourceDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-source-details', fileSourceDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileSourceDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
