<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.assignment.home.title">Assignments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assignment" [routerLink]="['/assignment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appApp.assignment.home.createLabel">
            Create a new Assignment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="assignments?.length === 0">
        <span jhiTranslate="appApp.assignment.home.notFound">No assignments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="assignments && assignments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.assignmentDate">Assignment Date</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.assignedTo">Assigned To</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.assignedBy">Assigned By</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.setSLA">Set SLA</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.assignmentStatus">Assignment Status</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.percentageCompleted">Percentage Completed</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.assignmentMode">Assignment Mode</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="appApp.assignment.invoice">Invoice</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assignment of assignments ;trackBy: trackId">
                    <td><a [routerLink]="['/assignment', assignment.id, 'view']">{{ assignment.id }}</a></td>
                    <td>{{ assignment.assignmentDate | date:'medium' }}</td>
                    <td>{{ assignment.assignedTo }}</td>
                    <td>{{ assignment.assignedBy }}</td>
                    <td>{{ assignment.setSLA | date:'medium' }}</td>
                    <td>{{ assignment.assignmentStatus }}</td>
                    <td>{{ assignment.percentageCompleted }}</td>
                    <td jhiTranslate="{{ 'appApp.AssignmentMode.' + assignment.assignmentMode }}">{{ assignment.assignmentMode }}</td>
                    <td>{{ assignment.createdAt | date:'medium' }}</td>
                    <td>{{ assignment.createdBy }}</td>
                    <td>
                        <div *ngIf="assignment.invoice">
                            <a [routerLink]="['/invoice', assignment.invoice?.id, 'view']" >{{ assignment.invoice?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/assignment', assignment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/assignment', assignment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(assignment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
