<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-audit-log-heading" jhiTranslate="appApp.auditLog.home.createOrEditLabel">Create or edit a Audit Log</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.activityName" for="field_activityName">Activity Name</label>
                    <input type="text" class="form-control" name="activityName" id="field_activityName"
                           formControlName="activityName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.activityCreationDate" for="field_activityCreationDate">Activity Creation Date</label>
                    <div class="d-flex">
                        <input id="field_activityCreationDate" type="datetime-local" class="form-control" name="activityCreationDate" formControlName="activityCreationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.activityStartTime" for="field_activityStartTime">Activity Start Time</label>
                    <div class="d-flex">
                        <input id="field_activityStartTime" type="datetime-local" class="form-control" name="activityStartTime" formControlName="activityStartTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.activityEndTime" for="field_activityEndTime">Activity End Time</label>
                    <div class="d-flex">
                        <input id="field_activityEndTime" type="datetime-local" class="form-control" name="activityEndTime" formControlName="activityEndTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.assignedDate" for="field_assignedDate">Assigned Date</label>
                    <div class="d-flex">
                        <input id="field_assignedDate" type="datetime-local" class="form-control" name="assignedDate" formControlName="assignedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.user" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                           formControlName="user"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.reason" for="field_reason">Reason</label>
                    <input type="text" class="form-control" name="reason" id="field_reason"
                           formControlName="reason"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.completeOn" for="field_completeOn">Complete On</label>
                    <div class="d-flex">
                        <input id="field_completeOn" type="datetime-local" class="form-control" name="completeOn" formControlName="completeOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.auditLog.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" name="invoice" formControlName="invoice">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceOption.id === editForm.get('invoice')!.value?.id ? editForm.get('invoice')!.value : invoiceOption" *ngFor="let invoiceOption of invoices; trackBy: trackById">{{ invoiceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
